.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode-sidebar {
    background-color: #333;
}

.dark-mode-nav .nav-link {
    color: #fff;
}

.dark-mode-content {
    background-color: #444;
}
.danger {
    color: red;
}

.dark-mode .text-muted {
    color: #ccc !important;
}
.dark-mode .card {
    background-color: #222;
    color: #fff;

}